# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/

# Node & Next.js
node_modules/
.next/
out/
.vercel/

# Database files
*.db
*.sqlite*
*.sql

# Environment variables & secrets
.env
.env.*
!.env.example
*.env.local

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
